.nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #f9f9fa;;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position:relative;
    color: #2e363e;
}

.nav__noti {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position:absolute;
    left: 18px;   
    bottom: 18px;
}

.nav__dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: tomato;
    left: 30px;
    border-radius: 50%;
}